
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.smooth{
  scroll-behavior: smooth;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding: 1% 8% 0% 8%;
    overflow: hidden;
    background:#151618;
    background:#4D38CD;
    background-size: cover;
    box-sizing: border-box ;

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
    cursor: pointer;
    height:40px;
    background:url(https://pbs.twimg.com/profile_images/1273850207252307969/hjEVMsAe.jpg);
    background-size: cover;
    animation: rotate 10s linear 0s infinite;
    border-radius: 4px;

}

#name{
    color: white;
    margin-left: 20px;
}
.menu-icon{
    width: 40px;
    cursor: pointer;
    display: none;
    
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right:30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(253, 7, 40);
    
}



 @media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: #222831;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 2;
        overflow: hidden;
        transition: 1s;
        text-align:center;
    }
    
    nav ul li{
        display: block ;
        margin-top: 10px;
        margin-bottom: 10px;
        width:100%;
        clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0 100%, 21% 52%, 0 0);
        font-size:20px;
        font-weight: 999 ;
    }
    nav ul li:hover{
      background-color:#393E46 ;
    }
    nav ul li a{
        color: white;
        
    }
    .menu-icon{
        display: block;
    }
    
} 


/* Login Page */

.wrapper{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            font-family: 'Roboto Mono', monospace;
            background-color: #34495e;
            background-image: url(https://images.unsplash.com/photo-1635830625698-3b9bd74671ca?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfGFldTZyTC1qNmV3fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            backdrop-filter: blur(15px);
            /* background: url(https://static.statusqueen.in/mobilewallpaper/thumbnail/mobile_wallpaper__1-471.jpg) no-repeat;  */
            /* background-size: cover;  */
          }

.box
 {
            width: 300px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
           /* background-color: #191919;*/
            text-align: center;
        }


 .box h1 
 {
            color: white;
            text-transform: none;
            font-weight: 200;
        }   

  .box input[type="text"],
  .box input[type="email"],
  .box input[type="password"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 10px;
            width: 300px;
            outline: none;
            border-radius: 24px;
            color: white;
            transition: 0.25s;
        }

  .box input[type="text"]:focus,
  .box input[type="email"]:focus,
  .box input[type="password"]:focus {
            width: 330px;
            /* border-image: linear-gradient(45deg, #2ecc71,#3498db); */
            border-color: #2ecc71;
        }

        .box input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 50px;
            width: 136px;
            outline: none;
            border-radius: 24px;
            color: white;
            transition: 0.25s;
            cursor: pointer;
        }

        .box input[type="submit"]:hover {
            background-color:rgb(5, 5, 5);
        }  
        

/* Cards */

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  
/* .card{
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1634059044563-ec2dc036f1d7?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIxN3x0b3dKWkZza3BHZ3x8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p{ 
  color: #fff;
  font-size: 18px;
} */

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 40px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: #fff;
  background-image: url(https://images.unsplash.com/photo-1634059044563-ec2dc036f1d7?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIxN3x0b3dKWkZza3BHZ3x8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-front .stack{
  background-image: linear-gradient(90deg, white, rgb(184, 184, 214));
  background-clip: text;
  color: transparent;
  font-size: 20px;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(45deg, #ffa17f, #00223e);
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}




/* back card design */

.avater{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
}


.mid-wrap{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.mid-wrap p, button, .mid-hr, hr, h3{
  margin-top: 10px;
}

.hr-mid{
  width: 100%;
  border: 2px solid;
  border-image:linear-gradient(45deg,red,blue) 10;
  border-radius: 3px;
}

.mid-wrap button {
  padding: 3px;
  /* background-color: dodgerblue; */
  border:2px solid;
  margin: 10px;
  color: #fff;
  border-image:linear-gradient(45deg,#f0c27b,#4b1248) 10;
  background:linear-gradient(45deg, #ffa17f, #00223e) border-box;
}

.mid-wrap p{
  background-image: linear-gradient(45deg, white, rgb(184, 184, 214));
  background-clip: text;
  color: transparent;
  font-size: 20px;
}

/* .dev {
  background-image: linear-gradient(90deg,rgb(110, 79, 79),rgb(76, 76, 124));
  background-clip: text;
  color: transparent;
  font-size: 20px;
} */

.profil{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.profil img{
  width: 20px;
  height: 20px;
}

.profil p{
  transition: .6s;
}

.profil p:hover{
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
}

.card-wrapper{
  width: 85%;
  margin: auto;
}

.skills button{
    color: #fff;
    border-radius:5px;
    border:2px solid transparent;
    background:linear-gradient(45deg, #ffa17f, #00223e) border-box;
    /* -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); */
    /* -webkit-mask-composite: destination-out;  */
    mask-composite: exclude;
}


/* app.js  */

.app-wrap{
  width: 90%;
  margin: 0 auto;
}

.img-cont img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: .8s;
  margin-top: 30px;
  /* margin-left: 20px;*/
  margin-bottom: 20px; 
}

.img-cont img:hover{
  transform: scale(1.1, 1.1)
}

.img-pro img{
  width: 350px;
  height: 300px;
  transition: .8s;
  margin-top: 30px;
  /* margin-left: 20px; */
  margin-bottom: 20px;
  border-radius: 10px;
}

.img-pro img:hover{
  transform: scale(1.1, 1.1)
}


.f1 p{
  width: 270px;
  height: 100px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 40px 

} 

.f1{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin: 20px;
}

.job-title{
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(90deg, #2196f3, #f44336);
  background-clip: text;
  color: transparent;
}


.header{
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  background-image: linear-gradient(90deg, #2196f3, #f44336);
  background-clip: text;
  color: transparent;
  font-size: 20px;
  transition: .5s;
}

.header:hover{
  transform: translateY(-5px);
  border-bottom: 2px solid red;
}

.stack-projects{
  margin-top: 35px;
}

.pro-section{
  /* padding-top: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}


/* footer design */

.foot-wrapper{
  width: 100%;
  /* margin-top: 50px; */
}


.top-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
  margin: 0 auto;
  /* width: 95%; */
  text-align: center;
  padding-top: 150px;
  background: linear-gradient(45deg, #403A3E, #BE5869);
}


.b-wrap button{
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(90deg, #fff, #9a8478);
  background-clip: text;
  color: transparent;
  border:2px solid;
  margin: 10px;
  border-image:linear-gradient(45deg, rgb(85, 77, 77),#4b1248) 10;
}

.b-wrap{
  padding-top: 50px;
}

.bottom-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  padding-top: 40px;
}

.foot-link{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 20px;
}

.foot-link .none{
  visibility: hidden;
}

.foot-link input[type="text"]:focus,
.foot-link input[type="email"]:focus {
  width: 240px;
  border-color: #2ecc71;
}


.foot-link input[type="email"],
.foot-link input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 220px;
  outline: none;
  border-radius: 24px;
  color: white;
  transition: 0.25s;
}


.foot-link button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 10px;
  width: 136px;
  outline: none;
  border-radius: 24px;
  color: white;
  transition: 0.25s;
  cursor: pointer;
  /* color: black; */
}


.foot-link a{
  text-decoration: none;
  padding: 5px 5px;
  font-weight: 500;
  background-image: linear-gradient(90deg, #fff, #9a8478);
  background-clip: text;
  color: transparent;
}



.foot-link p{
  font-weight: 500;
  background-image: linear-gradient(90deg, #fff, #9a8478);
  background-clip: text;
  color: transparent;
}

/* bottom footer section */
.social-sec{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.min-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.min-top button{
  margin-right: 10px;
  padding: 5px;
  background-image: linear-gradient(90deg, #fff, #9a8478);
  border-image:linear-gradient(45deg, rgb(85, 77, 77),#4b1248) 10;
  background-clip: text;
  color: transparent;
}

.min-bottom{
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  /* padding-bottom: 40px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
  padding-bottom: 10px;
  
}

.min-footer button, .p{
  background-image: linear-gradient(90deg, #fff, #9a8478);
  background-clip: text;
  color: transparent;
}

.sponsor span{
  font-weight: 700;
  font-size: 25px;
  background-image: linear-gradient(90deg, #52c234, #061700);
  background-clip: text;
  color: transparent;
}
.sponsor{
  margin-top: 15px;
}

/* footer wrap */

.home-footer{
  background: linear-gradient(45deg, #000000, #00223e);
}

/* about section */

.about-bg{
  margin-top: 50px;
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.18);
}

.about-container{
  background-image: url(https://images.unsplash.com/photo-1626275418623-0df0f07ce59c?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDY5fGFldTZyTC1qNmV3fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: center;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 150px;
  overflow: hidden;
}
.text-wrapper{
  margin-left: 20%;
  margin-top: 50px;
  padding-bottom: 40px;
}

.text-wrapper h3{
  padding-bottom: 20px;
  max-width: 60%;
  text-align: left;
  background-image: linear-gradient(90deg, #fff, #9a8478);
  background-clip: text;
  color: transparent;
}


.text-wrapper p{
  max-width: 80%;
  text-align: justify;
  background-image: linear-gradient(90deg, rgb(245, 240, 240), #9a8478);
  background-clip: text;
  color: transparent;
}

.text-wrapper button{
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(90deg, #fff, #9a8478);
  /* background-image: linear-gradient(90deg, rgb(14, 9, 9), #9a8478); */
  background-clip: text;
  color: transparent;
  border:2px solid;
  margin: 10px;
  border-image:linear-gradient(45deg, rgb(85, 77, 77),#4b1248) 10;
}


/* Nav section */

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.to-nav{
  margin-bottom: 0px;
}


.af-wrapper{
  font-size: 12px;
  color: white;
}

.af-wrapper p{
  padding: 3px;

}

.af-wrapper a{
  text-decoration: none;
  color: rgb(105, 105, 156);
}

.hide{
  display: none
}

.show{
  color: white;
}


.wrapper {
  position:relative;
}
.help {
  position:absolute;
  bottom: 20px;;
  right:20px;
}

.help button{
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(131, 131, 160);
  outline: none;
  margin-right: 20px;
}


.help .supports{
  font-size: 13px;
  color: rgb(105, 105, 156);
}

/* hero page */

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right top, 
                  #674a5a, #65485f, #604666, #57466d, #4a4774, #435587, 
                  #346599, #1274a8, #0095c3, #00b7d8, #24d9e7, #5ffbf1);
}

.text-content{
  width: 40%;
  /* padding-right: 50px; */
  margin-left: 150px;
}

.text-content p{
  color: white;
}

.hero-wrap{
  margin-bottom: 60px;
}

.img-div{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.connect-btn{
  display: flex;
}

.connect-btn button, .hero-dev button{
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 2px;
  border:2px solid;
  color: white;
  background-color: #57466d;
  border-image:linear-gradient(45deg, rgb(85, 77, 77),#4b1248) 10;
}

.hero-dev button a{
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 1100px) {
  .text-content{
    width: 80%;
    padding-top: 40px;
    /* padding-right: 50px; */
    margin-left: 0px;
  }

  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-dev{
    width: 80%;
  }
  .hero-dev img{
    width: 100%;
    /* z-index: 1; */
    
  }
  
  .text-content p{
    color: white;
  }
  

}


/* contact page */

.contact-wrapper{
    
  margin:0;
  padding:0;
  text-align:center;
 background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFgcWRXIgLJ247MQv2bJ8Mc7SZ3bDaYNd2Jg&usqp=CAU);
 background-size:cover;
 font-family:sans-serif;
 padding: 60px 0;
 margin-bottom: 0
}

.lol{
  
  margin-top: 80px;
  margin-bottom: 40px;
  color:#fff;
  transition: .8s;
}

.lol h1{
  font-size:40px;
  line-height:10px;
}

.lol p{
  margin-top: 40px;
  font-size: 17px;
}

.form{
  
  margin:50px;
  /* transition:; */
}

.form-control{
  
  width:280px;
  background:transparent;
  border:none;
  outline:none;
  border-bottom:1.5px solid gray;
  color:#fff;
  font-size:15px;
  margin-bottom:20px;
}

.input{
  
  height:55px;
}

.form-submit{
  
  background:#ad3511;
  border-color:transparent;
  color:#000;
  font-size:17px;
  font-weight:bold;
  border-radius:6px;
  letter-spacing:2px;
  height:40px;
  margin-top:20px;
  transition:transform 0.8s;
}

.form-submit:hover{
  
  background-color: #f44336;
  cursor:pointer;
  transform:translateY(-12px)
}


/* contact engineer */


/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); */
.-body {
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
  font-family:serif;
  background:linear-gradient(0deg,#6b3aff 50%,#fff 50%,#fff);
  font-family:'Source Sans Pro', sans-serif;
}
.e-contact-wrapper{
  /* position:absolute ;
  top:50%;
  left:50%; */
  /* transform:translate(-50%,-50%); */
  width:300px;
  padding:30px;
  box-sizing:border-box ;
  background:#fff;
  box-shadow:0px 10px 30px rgba(0,0,0,.5);
  border-radius:5px;
}
.e-contact-wrapper h2{
  color:#666;
  margin:0;
  padding:0;
  text-align:center ;
  font-size:30px;
}
.inp-field{
  position:relative ;
  width:100%;
  margin-top:30px;
}
.inp-field input,
.inp-field textarea{
  width:100%;
  padding:5px 0;
  box-sizing:border-box ;
  background:transparent ;
  border:none;
  outline:none ;
  border-bottom:1px solid #666;
  font-weight:500;
  resize:none;
}
.inp-field .c-label{
  position:absolute ;
  top:0;
  left:0;    
  padding:5px 0;
  pointer-events:none;
  color:#666;
  font-weight:500;
  transition:.5s;
}
.inp-field input:focus + .c-label,
.inp-field textarea:focus + .c-label,
.inp-field input:valid + .c-label,
.inp-field textarea:valid + .c-label{
  top:-23px;
  padding:2px 5px;
  background:#ff006a;
  color:#fff;
  border-radius:4px;
}
.c-btn{
  margin-top:20px;
  margin-left: 15%;
  background:#ff006a;
  color:#fff;
  padding:15px 30px;
  border:none ;
  outline:none ;
  border-radius:7px;
  font-weight:500;
}

.redirect > input{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-btn:hover{
  background:#0f0b1b;
}
small{
  font-size:10px;
}
a{
  color:#ff006a;
  text-decoration:none;
  font-weight:800;
}


.hideTab{
  display: none;
  /* visibility: hidden; */
}

.zed{
  position: relative;
}

.showTab{
  position:absolute ;
  top:0%;
  left:0%;
  z-index:1;
  /* transform: translate(0, -100%); */

}

/* card button */

.closer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.closer button{
  border: none;
  /* outline: none; */
  border-radius: 3px;
}

.fa-close{
  font-size: 35px;
  width: 40px;
  color:blue;
}

/* new dicv */